<?xml version='1.0' encoding='utf-8'?>
<widget id="sample.printer" version="0.7.1dev" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PrinterExample</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dreamguystech@gmail.com" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<gap:plugin name="cordova-plugin-godex-printer" source="npm" />
</widget>
